

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Check out the weather</title>
  </head>
  <body><div class="card mb-3">
        <img src="{% static "cover.jpg" %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Weather</h5>
          <p class="card-text">Check out the current weather in any part of the world!</p>
        </div>


        <form method="POST">
                {% csrf_token %}
                <div class="field has-addons">
                    <div class="control is-expanded">
                        {{ form.name }}
                    </div>
                    <div class="control">
                        <button type="submit" class="button is-info">
                            Add City
                        </button>
                    </div>
                </div>
            </form>
            
            {% for city_weather in weather_data %}
                                <div class="box">
                                    <article class="media">
                                        <div class="media-left">
                                            <figure class="image is-50x50">
                                                <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" alt="Image">
                                            </figure>
                                        </div>
                                        <div class="media-content">
                                            <div class="content">
                                                <p>
                                                    <span class="title">{{ city_weather.city }}</span>
                                                    <br>
                                                    <span class="subtitle">{{ city_weather.temperature }}° F</span>
                                                    <br> {{ city_weather.description }}
                                                </p>
                                            </div>
                                        </div>
                                    </article>
                                </div>
            {% endfor %}

    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>